/* styles.css */
* {
    box-sizing: border-box;
  }

  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;    
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.icon-text-space {
    margin-right: 8px; 
  }
  

/* Estilos para el contenedor de contenido */
#content-container {
    padding-top: 30px; 
    padding-bottom: 60px; 
    align-content: center;
}

/* Agrega estilos personalizados para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px; 
    text-align: center; 
}