/* styles.css */
* {
    box-sizing: border-box;
  }

  
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;    
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Estilos para el contenedor de contenido */
#content-container {
    padding-top: 30px; /* Ajusta el espacio para la barra de tareas */
    padding-bottom: 60px; /* Ajusta el espacio para la barra de tareas */
    align-content: center;
}