.sensor-data {
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    align-content: center;
    align-items: center;   
    vertical-align: middle;    
    padding: 30px;    
    max-width: 700px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
    margin: 0px auto; /* Centro el contenedor horizontalmente */
}

#messages {
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
}

#messages p {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px; /* Bordes redondeados */
}

#chat-container {
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados */
}

#chat-messages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px
}

.chat-input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px; /* Bordes redondeados */
}

.chat-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Bordes redondeados */
}

.chat-button:hover {
    background-color: #0056b3;
}


/* Bordes redondeados para los elementos de temperatura y parking */
#temperature-txt, #parking-txt {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px; /* Bordes redondeados */
}

/* Establecer las dimensiones para los elementos humidity, temperature, smoke y fire */
.humidity, .temperature, .smoke, .fire .parking-lock .parking-light {    
    display: inline;
    min-width: 150px;
    max-width: 150px;
    /* border: 2px solid #000;  Borde de 2px sólido de color negro */
  }
  